h1{
  font-family: Times New Roman;
  text-align: center;
}

section{
  text-align: center;
  border: 3px black solid;
  border-radius: 10px;
  width: 15%;
  min-width: 13%;
  margin: auto;
  overflow: auto;
  background-image: url("../image/jokker.jpg");
}

body{

}
